[Desktop Entry]
Type=Application
Name=OCTool
Comment=Intel/AMD hardware monitor and tuning tool
Exec=octool
Terminal=false
Categories=System;Monitor;
